{% extends "base.html" %}
{% load static %}

{% block link %}  {% endblock link %}

     <title>{% block title %}About Angel's Media{% endblock title %}</title>

{% block content %}
	<div class="container">
				<h5 class="card-title display-5 fw-bold lh-1 mb-3">About Angel's Media</h5>
		<div class="card mb-3 border border-white">
			<img src="{% static 'img/logo/ANGELMEDIALOGO.png' %}" class="card-img-top" alt="..." height="500">
			<div class="card-body">
				<p class="card-text lead">Angel's media started in the year 2001. The organization is concerned with harvesting young talents and skills. Angel's media is mainly associated with talent/skill/creativity, event coverage, advertisiment, video shoot/photo shoot, cinematoraphy and more.</p>
			</div>
		</div>
		
		<br/>
		<br/>
		<br/>
		<br/>
		<div class="container marketing">
			<h2 class="text-center"> <b>Angels Media In Action</b> <hr/> </h2>
		<br/>
		<br/>
		<br/>

			<div class="row flex-lg-row-reverse align-items-center g-5 py-5 bg-dark text-white">
				<div class="col-10 col-sm-8 col-lg-6 shadow-lg">
					<img src="" class="d-block mx-lg-auto img-fluid" alt="Angels Media" width="700" height="500" loading="lazy">
				</div>
				<div class="col-lg-6">
					<h1 class="display-5 fw-bold lh-1 mb-3">Angels Media annd crew filming Black Tears</h1>
					<p class="lead">Angel's media started in the year 2001. The organization is concerned with harvesting young talents and skills. Angel's media is mainly associated with talent/skill/creativity, event coverage, advertisiment, video shoot/photo shoot, cinematoraphy and more.</p>
				</div>
			</div>
		





			<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
				<div class="col-10 col-sm-8 col-lg-6 shadow-lg">
					<img src="" class="d-block mx-lg-auto img-fluid" alt="Angels Media" width="700" height="500" loading="lazy">
				</div>
				<div class="col-lg-6">
					<h1 class="display-5 fw-bold lh-1 mb-3">Angels Media annd crew filming Black Tears</h1>
					<p class="lead">Angel's media started in the year 2001. The organization is concerned with harvesting young talents and skills. Angel's media is mainly associated with talent/skill/creativity, event coverage, advertisiment, video shoot/photo shoot, cinematoraphy and more.</p>
				</div>
			</div>
			
			<br/>
			<br/>
			<br/>	
			<br/>
		






			<div class="row flex-lg-row-reverse align-items-center g-5 py-5 bg-dark text-white">
				<div class="col-10 col-sm-8 col-lg-6 shadow-lg">
					<img src="" class="d-block mx-lg-auto img-fluid" alt="Angels Media" width="700" height="500" loading="lazy">
				</div>
				<div class="col-lg-6">
					<h1 class="display-5 fw-bold lh-1 mb-3">Angels Media annd crew filming Black Tears</h1>
					<p class="lead">Angel's media started in the year 2001. The organization is concerned with harvesting young talents and skills. Angel's media is mainly associated with talent/skill/creativity, event coverage, advertisiment, video shoot/photo shoot, cinematoraphy and more.</p>
				</div>
			</div>







			<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
				<div class="col-10 col-sm-8 col-lg-6 shadow-lg">
					<img src="" class="d-block mx-lg-auto img-fluid" alt="Angels Media" width="700" height="500" loading="lazy">
				</div>
				<div class="col-lg-6">
					<h1 class="display-5 fw-bold lh-1 mb-3">Angels Media annd crew filming Black Tears</h1>
					<p class="lead">Angel's media started in the year 2001. The organization is concerned with harvesting young talents and skills. Angel's media is mainly associated with talent/skill/creativity, event coverage, advertisiment, video shoot/photo shoot, cinematoraphy and more.</p>
				</div>
			</div>
		</div>






	</div>
  
  
{% endblock %}