{% extends "base.html" %}
{% load static %}

{% block link %}<link src='{% static "css/homepage/carousel.css" %}'> {% endblock link %}

     <title>
	 <img src="{% static 'img/logo/ANGELMEDIALOGO.png' %}" class="card-img" alt="...">
	 {% block title %}Angel's Media{% endblock title %}</title>

{% block content %}

    <div class="container">
		<div class="row mb-3">
			<div class="col-md-8 themed-grid-col">
				<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
					<div class="container">
						  <h1 class="display-3">Black Tears Audition</h1>
						  <p> The black tears audition form is about to be realeased. Once it is released, it will be updated here. </p>
						  <p><a class="btn btn-primary btn-lg" href="{% url 'audition' %}" role="button">Get the audition form now</a></p>
					</div>
				 </div>
				 <br/>
				 <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
					<div class="container">
						  <h1 class="display-3">Black Tears Audition Form Released???🤗</h1>
						  <p>The black tears audition form has been released. This form is only for the students of university of Nigeria. This is a rare opportunity to show case your talent if you know how to act. Once it is exceed 100  people, this form will cease to excist </p>
						  <p><a class="btn btn-primary btn-lg" href="#" role="button">Apply For The Audition</a></p>
					</div>
				 </div>
			</div>
			<div class="col-md-4 themed-grid-col">
				<div class="my-3 p-3 bg-white rounded shadow-sm">
					<h6 class="border-bottom border-gray pb-2 mb-0">Trending</h6>
					<div class="media text-muted pt-3">
						<div class="card mb-3" style="max-width: 540px;">
							<div class="row no-gutters">
								<div class="col-md-4">
									<img src="{% static 'img/advert/blacktears.jpg' %}" class="card-img" alt="...">
								</div>
								<div class="col-md-8">
									<div class="card-body">
										<h5 class="card-title">Black Tears. A new Movie Created By Angel's Media</h5>
									</div>
								</div>
							</div>
						</div>
					</div><div class="media text-muted pt-3">
						<div class="card mb-3" style="max-width: 540px;">
							<div class="row no-gutters">
								<div class="col-md-4">
									<img src="{% static 'img/advert/blacktears.jpg' %}" class="card-img" alt="...">
								</div>
								<div class="col-md-8">
									<div class="card-body">
										<h5 class="card-title">Black Tears. A new Movie Created By Angel's Media</h5>
									</div>
								</div>
							</div>
						</div>
					</div><div class="media text-muted pt-3">
						<div class="card mb-3" style="max-width: 540px;">
							<div class="row no-gutters">
								<div class="col-md-4">
									<img src="{% static 'img/advert/blacktears.jpg' %}" class="card-img" alt="...">
								</div>
								<div class="col-md-8">
									<div class="card-body">
										<h5 class="card-title">Black Tears. A new Movie Created By Angel's Media</h5>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<small class="d-block text-right mt-3">
					  <a href="{% url 'latest' %}">All Trending</a>
					</small>
				 </div>

			</div>
		</div>
    
		<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center text-white rounded bg-secondary">
			<h1 class="cover-heading">About Angel's Media</h1>
			<p class="lead">Angel's media started in the year 2001. The organization is concerned with harvesting young talents and skills. Angel's media is mainly associat... </p>
			<p class="lead">
				<a href="{% url 'about' %}" class="btn btn-lg btn-dark">Find Out More</a>
			</p>
		</div>
	<br/>
		<div class="container marketing">
			<h2 class="text-center"> <b>Testimonals</b> <hr/> </h2>
			<!-- Three columns of text below the carousel -->
			<div class="row">
				<div class="col-lg-4 text-center">
					<svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
					<h2>Heading</h2>
					<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
					
				</div><!-- /.col-lg-4 -->
				<div class="col-lg-4 text-center">
					<svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
					<h2>Heading</h2>
					<p style="font-size:12px; color:b">A web developer at google</p>
					<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
					
				</div><!-- /.col-lg-4 -->
				<div class="col-lg-4 text-center">
					<svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
					<h2>Heading</h2>
					<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
					
				</div><!-- /.col-lg-4 -->
			</div><!-- /.row -->
			<hr class="featurette-divider">
		</div>
		
		<!-- This is the beginning of the services we provide section -->
		<div class="album py-5 bg-light">
			<div class="container">
			<h1 class="text-center">Services We Provide</h1>
			<br/>
			<br/>

			  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
				<div class="col">
				  <div class="card shadow-sm">
					<img src="{% static 'img/advert/blacktears.jpg' %}" class="card-img-top" alt="...">
					<div class="card-body">
					  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					  <div class="d-flex justify-content">
						  <button type="button" class="btn btn-secondary">View</button>
					  </div>
					</div>
				  </div>
				</div>
				<div class="col">
				  <div class="card shadow-sm">
					<img src="{% static 'img/advert/blacktears.jpg' %}" class="card-img-top" alt="...">
					<div class="card-body">
					  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					  <div class="d-flex justify-content">
						  <button type="button" class="btn btn-sm btn-secondary">View</button>
					  </div>
					</div>
				  </div>
				</div>
				<div class="col">
				  <div class="card shadow-sm">
					<img src="{% static 'img/advert/blacktears.jpg' %}" class="card-img-top" alt="...">

					<div class="card-body">
					  <p class="card-text">We offer chairs for rent in the website. You can rent chairs and party stuff </p>
					  <div class="d-flex justify-content-between">
						  <button type="button" class="btn btn-sm btn-secondary">View</button>
					  </div>
					</div>
				  </div>
				</div>
			   </div>
			 </div>
		</div>
				<!-- This is the end of the service we provide section -->
		
			<!--This is the beginning of the upcoming section -->
			<div class="container px-4 py-5" id="custom-cards">
				<h2 class="pb-2 border-bottom">Upcoming Events</h2>

				<div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
				  <div class="col">
					<div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg john" style="background-image: url('/static/backgroundimage/photo_2018-10-28_21-53-08.jpg') 50% 0 no-repeat fixed; color:white; height:300px; padding: 100px 0 0 0;">
					  <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
						<h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Studio Stuff that will happen</h2>
						<ul class="d-flex list-unstyled mt-auto">
						  <li class="d-flex align-items-center me-3">
							<small>Venue</small>
						  </li>
						</ul>
					  </div>
					</div>
				  </div>

				  <div class="col">
					<div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('/static/backgroundimage/photo_2018-10-28_21-53-08.jpg')50% 0 no-repeat fixed; color:white; height:300px; padding: 100px 0 0 0;">
					  <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
						<h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Theater stuff that will go down</h2>
						<ul class="d-flex list-unstyled mt-auto">
						  <li class="d-flex align-items-center me-3">
							<small>Venue</small>
						  </li>
						</ul>
					  </div>
					</div>
				  </div>

				  <div class="col">
					<div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('/static/Backgroundimage/photo_2018-10-28_21-53-08.jpg')50% 0 no-repeat fixed; color:white; height:300px; padding: 100px 0 0 0;">
					  <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
						<h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Party Stuff that will go down</h2>
						<ul class="d-flex list-unstyled mt-auto">
						  <li class="d-flex align-items-center me-3">
							<small>Venue</small>
						  </li>
						</ul>
					  </div>
					</div>
				  </div>
				</div>
			</div>

			
			
	</div>
{% endblock content %}