{% extends "base.html" %}
{% load static %}


{% block link %}<link src='{% static "css/homepage/carousel.css" %}'> {% endblock link %}

     <title>
	 <img src="{% static 'img/logo/ANGELMEDIALOGO.png' %}" class="card-img" alt="...">
	 {% block title %}latest Happening{% endblock title %}</title>


{% block content %}


<div class="moani">
tyyteetyporitigvtijv9rjintrnitr9j0wiojw0[j0tinthrtntrgntrhtvnvvoiritnrotriritiotionrioionionrort
tyeyyyeyytyei9tihruivt99urnhgtrgitiitjiwnioentriogntongiontr4igniowntrgbtuingiorniortniotrontryetyry
eorpiojrjwgoijgioiownmionriognwngiowngioniorfnvionvnriovniornriowrgtrtrer
trrtrtriohguiorhfuinguiwnergnnrintgiontriowvnionvionriogntrngiotrngtrtrgtrgg
ormo0inrtintrinrijntrtgvihuitrnuigvbutuguigvrgtreeeutegtyrvrvvgttrgintiogntrgtr
ttkgktikgtrknmorniortrnuitruirtuiituininnitrrr
rtoinnnrionorinonvnonnvnovnonvervoinvionvonvnororotiotroitr
trtrntrnonononedonongornnontnotrononionvclvmmvfmkrkgnerignirgir;klvnkrnvkkgtgtngtnrniornot
tonotrnotrnornikrniknikrrntiontrnvvkvvknmbvnittibtb b bv  b k  k    b knronriro
</div>


{% endblock content %}