{% extends "base.html" %}
{% load static %}


{% block link %}<link src='{% static "css/homepage/carousel.css" %}'> {% endblock link %}

     <title>
	 <img src="{% static 'img/logo/ANGELMEDIALOGO.png' %}" class="card-img" alt="...">
	 {% block title %}latest Happening{% endblock title %}</title>


{% block style %}



{% endblock style %}
{% block content %}


<div class="container">

	<h1 class="text-center">Most Trending Happenings In Nigeria</h1>
	<hr/>
	<br/>
	<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
	  <div class="carousel-indicators">
		<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
		<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
		<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
	  </div>
	  <div class="carousel-inner">
		<div class="carousel-item active" data-bs-interval="10000">
		  <img src="{% static 'img/advert/blacktears.jpg' %}" class="d-block w-100" alt="..."height="300px"width="200px">
		  <div class="carousel-caption d-none d-md-block text-white">
			<h5>First slide label</h5>
			<p>Some representative placeholder content for the first slide.</p>
		  </div>
		</div>
		<div class="carousel-item " data-bs-interval="2000">
		  <img src="{% static 'img/advert/blacktears.jpg' %}" class="d-block w-100" alt="..."height="300px"width="200px">
		  <div class="carousel-caption d-none d-md-block text-white">
			<h5>Second slide label</h5>
			<p>Some representative placeholder content for the second slide.</p>
		  </div>
		</div>
		<div class="carousel-item ">
		  <img src="{% static 'img/advert/blacktears.jpg' %}" class="d-block w-100" alt="..."height="300px" width="200px">
		  <div class="carousel-caption d-none d-md-block text-white">
			<h5>Third slide label</h5>
			<p>Some representative placeholder content for the third slide.</p>
		  </div>
		</div>
	  </div>
	  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	  </button>
	  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	  </button>
	</div>
	<br/>
	<br/>
	<div>
		<h1 class="shadow-lg p-3 mb-5 bg-dark text-white rounded"> Recent News</h2>
		<hr/ class="bg-warning">
		<div class="card-group">
		  <div class="card bg-dark text-white">
			<img src="..." class="card-img-top" alt="...">
			<div class="card-body">
			  <h5 class="card-title">Card title</h5>
			  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
			  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			</div>
		  </div>
		  <div class="card bg-dark text-white">
			<img src="..." class="card-img-top" alt="...">
			<div class="card-body">
			  <h5 class="card-title">Card title</h5>
			  <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
			  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			</div>
		  </div>
		  <div class="card bg-dark text-white">
			<img src="..." class="card-img-top" alt="...">
			<div class="card-body">
			  <h5 class="card-title">Card title</h5>
			  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
			  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			</div>
		  </div>
		</div>

		

	</div>
	
	
	
		<br/>
	<div>
		<h1 class="shadow-lg p-3 mb-5 bg-body rounded"> Business and Market</h2>
		<hr/ class="bg-warning">
		<div class="card-group">
		  <div class="card">
			<img src="..." class="card-img-top" alt="...">
			<div class="card-body">
			  <h5 class="card-title">Card title</h5>
			  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
			  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			</div>
		  </div>
		  <div class="card">
			<img src="..." class="card-img-top" alt="...">
			<div class="card-body">
			  <h5 class="card-title">Card title</h5>
			  <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
			  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			</div>
		  </div>
		  <div class="card">
			<img src="..." class="card-img-top" alt="...">
			<div class="card-body">
			  <h5 class="card-title">Card title</h5>
			  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
			  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			</div>
		  </div>
		</div>

		

	</div>
	
	
	
		<br/>
	<div>
		<h1 class="shadow-lg p-3 mb-5 bg-dark text-white rounded"> Who Loves Sport?</h2>
		<hr/ class="bg-warning">
		<div class="card-group">
		  <div class="card bg-dark text-white">
			<img src="..." class="card-img-top" alt="...">
			<div class="card-body">
			  <h5 class="card-title">Card title</h5>
			  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
			  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			</div>
		  </div>
		  <div class="card bg-dark text-white">
			<img src="..." class="card-img-top" alt="...">
			<div class="card-body">
			  <h5 class="card-title">Card title</h5>
			  <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
			  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			</div>
		  </div>
		  <div class="card bg-dark text-white">
			<img src="..." class="card-img-top" alt="...">
			<div class="card-body">
			  <h5 class="card-title">Card title</h5>
			  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
			  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			</div>
		  </div>
		</div>

		

	</div>
	
	
	
		<br/>
	<div>
		<h1 class="shadow-lg p-3 mb-5 bg-body rounded"> 🎵 Music 🎵</h2>
		<hr/ class="bg-warning">
		<div class="card-group">
		  <div class="card">
			<img src="..." class="card-img-top" alt="...">
			<div class="card-body">
			  <h5 class="card-title">Card title</h5>
			  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
			  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			</div>
		  </div>
		  <div class="card">
			<img src="..." class="card-img-top" alt="...">
			<div class="card-body">
			  <h5 class="card-title">Card title</h5>
			  <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
			  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			</div>
		  </div>
		  <div class="card">
			<img src="..." class="card-img-top" alt="...">
			<div class="card-body">
			  <h5 class="card-title">Card title</h5>
			  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
			  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			</div>
		  </div>
		</div>

		

	</div>
	
	
	
		<br/>
	<div>
		<h1 class="shadow-lg p-3 mb-5 bg-dark text-white rounded"> Politics</h2>
		<hr/ class="bg-warning">
		<div class="card-group">
		  <div class="card bg-dark text-white">
			<img src="..." class="card-img-top" alt="...">
			<div class="card-body">
			  <h5 class="card-title">Card title</h5>
			  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
			  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			</div>
		  </div>
		  <div class="card bg-dark text-white">
			<img src="..." class="card-img-top" alt="...">
			<div class="card-body">
			  <h5 class="card-title">Card title</h5>
			  <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
			  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			</div>
		  </div>
		  <div class="card bg-dark text-white">
			<img src="..." class="card-img-top" alt="...">
			<div class="card-body">
			  <h5 class="card-title">Card title</h5>
			  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
			  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			</div>
		  </div>
		</div>

		

	</div>
	
	
	
		<br/>
	<div>
		<h1 class="shadow-lg p-3 mb-5 bg-body rounded">Technology Advancements</h2>
		<hr/ class="bg-warning">
		<div class="card-group">
		  <div class="card">
			<img src="..." class="card-img-top" alt="...">
			<div class="card-body">
			  <h5 class="card-title">Card title</h5>
			  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
			  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			</div>
		  </div>
		  <div class="card">
			<img src="..." class="card-img-top" alt="...">
			<div class="card-body">
			  <h5 class="card-title">Card title</h5>
			  <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
			  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			</div>
		  </div>
		  <div class="card">
			<img src="..." class="card-img-top" alt="...">
			<div class="card-body">
			  <h5 class="card-title">Card title</h5>
			  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
			  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			</div>
		  </div>
		</div>

		

	</div>
	
	
	
		<br/>
	<div>
		<h1 class="shadow-lg p-3 mb-5 bg-dark text-white rounded">🎮 Games</h2>
		<hr/ class="bg-warning">
		<div class="card-group">
		  <div class="card bg-dark text-white">
			<img src="..." class="card-img-top" alt="...">
			<div class="card-body bg-dark text-white">
			  <h5 class="card-title">Card title</h5>
			  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
			  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			</div>
		  </div>
		  <div class="card bg-dark text-white">
			<img src="..." class="card-img-top" alt="...">
			<div class="card-body bg-dark text-white">
			  <h5 class="card-title ">Card title</h5>
			  <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
			  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			</div>
		  </div>
		  <div class="card bg-dark text-white">
			<img src="..." class="card-img-top" alt="...">
			<div class="card-body bg-dark text-white">
			  <h5 class="card-title">Card title</h5>
			  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
			  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			</div>
		  </div>
		</div>

		

	</div>
	
	
	
		<br/>
	<div>
		<h1 class="shadow-lg p-3 mb-5 bg-body rounded"> ✈International</h2>
		<hr/ class="bg-warning">
		<div class="card-group">
		  <div class="card">
			<img src="..." class="card-img-top" alt="...">
			<div class="card-body">
			  <h5 class="card-title">Card title</h5>
			  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
			  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			</div>
		  </div>
		  <div class="card">
			<img src="..." class="card-img-top" alt="...">
			<div class="card-body">
			  <h5 class="card-title">Card title</h5>
			  <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
			  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			</div>
		  </div>
		  <div class="card">
			<img src="..." class="card-img-top" alt="...">
			<div class="card-body">
			  <h5 class="card-title">Card title</h5>
			  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
			  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			</div>
		  </div>
		</div>

		

	</div>
	
	
	
		<br/>
	<div class="">
		<h1 class="shadow-lg p-3 mb-5 bg-dark text-white rounded "> Culture</h2>
		<hr/ class="bg-warning">
		<div class="card-group bg-dark text-white">
		  <div class="card bg-dark text-white">
			<img src="..." class="card-img-top" alt="...">
			<div class="card-body bg-dark text-white">
			  <h5 class="card-title">Card title</h5>
			  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
			  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			</div>
		  </div>
		  <div class="card bg-dark text-white">
			<img src="..." class="card-img-top" alt="...">
			<div class="card-body bg-dark text-white">
			  <h5 class="card-title">Card title</h5>
			  <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
			  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			</div>
		  </div>
		  <div class="card bg-dark text-white">
			<img src="..." class="card-img-top" alt="...">
			<div class="card-body bg-dark text-white">
			  <h5 class="card-title">Card title</h5>
			  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
			  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			</div>
		  </div>
		</div>

		

	</div>
	
	
	
		<br/>
	<div>
		<h1 class="shadow-lg p-3 mb-5 bg-body rounded"> 🎨Art and Lifestyle</h2>
		<hr/ class="bg-warning">
		<div class="card-group">
		  <div class="card">
			<img src="..." class="card-img-top" alt="...">
			<div class="card-body">
			  <h5 class="card-title">Card title</h5>
			  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
			  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			</div>
		  </div>
		  <div class="card">
			<img src="..." class="card-img-top" alt="...">
			<div class="card-body">
			  <h5 class="card-title">Card title</h5>
			  <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
			  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			</div>
		  </div>
		  <div class="card">
			<img src="..." class="card-img-top" alt="...">
			<div class="card-body">
			  <h5 class="card-title">Card title</h5>
			  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
			  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			</div>
		  </div>
		</div>

		

	</div>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</div>


{% endblock content %}

